$fondo: #F0F5FF;
$headerFont: #577681;
$searchBarFont: #c4c4c4;
$searchBarBackground:#ffffff;
$rectangleGray: #F7F7F7;
$formHeader: #707070;
$formTitle: #BFBFBF;
$formRadio: #EFEFEF;
$mainButton: #FF0011;
$alimentos:#FA5A7F;
$alimentosElement: #FD7B9A;
$alimentosSlider: #63C9FB;
$alimentosSliderSecondary: #F9EF40;
$alimentosSliderTitle: #302471;
$alimentosSliderButtonTitle: #3368A7;
$alcoholicas: #43EA7D;
$alcoholicasElement: #7BF0A4;
$alcoholicasElementHeader: #3BD671;
$gaseosas: #4EE2DC;
$gaseosasElement: #85EBD6;
$gaseosasElementHeader: #69CBB7;
$gaseosasSlider: #24481D;
$gaseosasSliderKorean: #C6DC3B;
$gaseosasSliderBackTitle:#448D7E;
$golosinas: #8B40F6;
$golosinasElement: #B586F8;
$golosinasElementHeader: #8B40F6;
$snack: #F0Bd34;
$snackElement: #FFDC7B;
$snackElementHeader: #C7992A;
$ramen: #D8601D;
$ramenElement: #E57A3B;
$ramenElementHeader: #C16E49;
$ramenSliderBackTitle:#D5A62D;
$ramenSliderSecondary:#DFD881;
$otros: #4E5832;
$otrosElement: #77815B;
$otrosElementHeader: #4E5832;
$searchDot: #CCCCCC;
$searchAside: #DDDBDB;
$searchArrow: #C7C7C7;
$nuestraEmpresaBack:#042A38;
$mapGray: #555454;
$footer: #000000;
$footerGray: #B2AFAF;
$productsHeaderFont: #986055;
$bebidasAlcholicasFont: #3B9038;
$bebidasAlcholicasBack: #7FEC7C;
$bebidasCarrouselBack: #E49D2B;
$bebidasCarrouselArrow:#E49D2B;
$bebidasCarrouselKirin: #DA6F20;
$bebidasCarrouselDot: #FFFFFF;
$bebidasCarrouselDotActive: #4C4D79;
$alimentosNavElement: #AAAAAA;