.footer{
    
    background-color: $footer;
    color: $formTitle;
    margin: 0;
    max-width: 100%;
    .divSearch{
        @media screen and (min-width:992px){
            width: 33.3333%;
            
        }  
    }
    .divRedes{
        @media screen and (min-width:992px){
            width: 33.3333%;
        }  
    }
    @media screen and (max-width:991px){
        margin-top: 51px;
    }

    @media screen and (min-width:992px){
        margin-top: 300px;
        display: flex;
    }
    
    &Header{
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width:992px){
            width: 33.3333%;
        }
        &Title{
            display: flex;
            justify-content: center;
            &Img{
                width: 85px;
                height: 65px;
            }
            &Element{
                margin: 0;
                font-size: 20px;
                font-weight: 700;
                line-height: 25px;
                padding: 0px 10px;
                align-self: center;
            }
        }
        &Copyright{
            margin: 0;
            font-size: 14px;
            font-size: 400;
            padding-top: 16px;
        }
    }

    &Search{
        margin-top: 55px;
        &Container{
            @include barraBusquedas;
            @media screen and (min-width:992px){
                width: 100%;
                
            }  
        }
        
    }

    &NavBar{
        #footerNavBarNumber{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            span{
                font-size: 20px;
                font-weight: 700;
            }
            i{
                font-size: 20px;
                font-weight: 700;
            }
        }
        margin-top: 38px;
        &List{
            padding: 0;
            padding-top: 31px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            &Item{
                list-style-type: none;
                
                @media screen and (max-width: 991px){
                    font-size: 14px;
                }

                @media screen and (min-width: 992px){
                    font-size: 16px;
                    br{
                        display: none;
                    }
                }
                font-weight: 400;
                line-height: 18px;
                text-align: center;
            }
        }
    }

    &Redes{
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &Title{
            margin: 0;
            font-size: 20px;
            font-weight: 700;

        }
        &Container{
            margin-top: 13px;
            a{
                color: $formTitle;
                i{
                    font-size: 22px;
                    padding: 0px 5px;
                }
            }
            
        }
    }
    &TopButton{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 41px;
        i{
            font-size: 26px;
        }
        &Element{
            background-color: $formTitle;
            height: 49px;
            width: 35%;
            margin-top: 13px;
            margin-bottom: 43px;
            font-size: 20px;
            font-weight: 700;
            color: white;
            border-radius: 10px;
        }
    }

}